body {
  margin: 0;
  padding: 0;

  width: 1600px;
  margin: auto;

  font-family: 'Lato', "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  position: relative;
  background-color: #403e2c;
  background-image: url("../img/header-background.jpg");
  background-repeat: no-repeat;
  background-position: 0 -901px;
  background-size: 100%;
}

.main-header::after {
  content: "";

  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;

  display: block;
  width: 100%;
  height: 100%;

  background-color: rgba(80, 80, 80, 0.1);
}

.header-top-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 22px 214px 18px 214px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  z-index: 20;
}

.top-bar-info {
  display: flex;
}

.top-bar-number {
  position: relative;
  padding-left: 20px;
  margin: 0 31px 0 0;
  letter-spacing: 0.3px;
}

.top-bar-number::before {
  content: "";

  position: absolute;
  top: 2px;
  left: 0px;
  width: 12px;
  height:12px;
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;

  transform: scale(-1, 1);
}

.top-bar-adress {
  position: relative;
  padding-left: 16px;
  margin: 0;
  letter-spacing: 0.4px;
}

.top-bar-adress::before {
  content: "";

  position: absolute;
  top: 2px;
  left: 0px;
  width: 9px;
  height:13px;
  background-image: url("../img/map-marker.svg");
  background-repeat: no-repeat;
}

.top-bar-social-list {
  display: flex;
  margin: 0;
  padding: 5px 0 0;
  list-style: none;
}

.social-list-position img {
  display: block;
}

.social-list-position:not(:nth-child(5)) {
  margin-right: 25px;
}

.header-navigation-wrapper {
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  z-index: 20;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 215px 0;
}

.main-logo {
  margin: 0;
  padding-top: 30px;
}

.main-logo img {
  display: block;
}

.navigation-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navigation-list li:not(:last-child) {
  margin-right: 31px;
}

.navigation-list li {
  padding-top: 45px;
  margin-top: -1px;
  letter-spacing: 0.1px;
}

.navigation-list li:hover {
  border-top: 2px solid #d6a862;
  padding-top: 43px;
}

.navigation-link {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}

.header-about {
  position: relative;
  padding: 253px 0 260px;
  z-index: 20;
}

.about-title {
  display: block;
  margin-bottom: 18px;

  font-family: "Butler", "Times New Roman", serif;
  font-size: 64px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: -0.5px;
  text-align: center;
  text-transform: capitalize;
}

.about-title span {
  color: #e8be7b;
}

.header-about p {
  margin: 0 0 47px;
  text-align: center;
  word-spacing: -0.5px;
}

.header-button-block {
  display: flex;
  justify-content: center;
}

.header-button:not(:last-child) {
  margin-right: 30px;
}

.header-button {
  display: block;
  box-sizing: border-box;
  width: 180px;
  padding: 13px 0 15px;

  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;

  border: 1px solid #ffffff;
}

.header-button:hover {
  background-color: #e8be7b;
  border-color: #e8be7b;
}

.header-about-button {
  text-align: center;
}

.header-video-button {
  position: relative;
  padding: 13px 0 15px 51px;
}

.header-video-button::before {
  content: "";

  position: absolute;
  top: 17px;
  left: 32px;
  width: 11px;
  height: 12px;
  background-image: url("../img/play.svg");
  background-repeat: no-repeat;
}

.slider {
  position: absolute;
  width: 10px;
  z-index: 20;
  top: 447px;
  right: 30px;
}

.slider-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

.slider-radio-label:not(:last-child) {
  margin-bottom: 14px;
}

.slider-radio-label {
  position: relative;

  cursor: pointer;
}

.slider-radio + .radio-indicator {
  display: block;
  width: 6px;
  height: 6px;
  background-color: #ffffff;
}

.slider-radio:checked + .radio-indicator {
  width: 10px;
  height: 10px;
  background-color: #e8be7b;
}

.slider-radio:not(:checked):hover + .radio-indicator {
  width: 8px;
  height: 8px;
  margin: -1px 0 -1px;
}

.service {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 112px 213px 119px 215px;
  color: #3a3a3a;

}

/* .service::before {
  content: "";
  background-color: #fbfcf5;
  display: block;
  position: absolute;
}

.service::after {
  content: "";
  background-color: #fbfcf5;
  bottom: 0;
  display: block;
  height: 50%;
  left: 0;

  right: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
  z-index: -1;
} */


.service-text-wrapper {
  margin-bottom: 78px;
}

.service-caption {
  margin: 0 0 20px;

  font-family: "Butler", "Times New Roman", serif;
  font-size: 48px;
  font-weight:  500;
  line-height: 50px;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  word-spacing: 5px;
}

.service-description {
  margin: 0;

  text-align: center;
  letter-spacing: -0.03px;
}

.services-list {
  display: flex;
  margin: 0 0 56px;
  padding: 0;

  list-style: none;
}

.services-list li:not(:last-child) {
  margin-right: 54px;
}

.service-link {
  display: block;
  box-sizing: border-box;
  width: 180px;
  padding: 125px 0 30px;

  font-family: "Butler", "Times New Roman", serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
}

.service-link:hover {
  box-shadow: 1.805px 2.396px 16px 0px rgba(32, 32, 32, 0.1);
}

.about-link {
  background-image: url("../img/sheet-icon.svg");
  background-repeat: no-repeat;
  background-position: 74px 48px;
}

.wedding-link {
  background-image: url("../img/heart-icon.svg");
  background-repeat: no-repeat;
  background-position: 66px 47px;
}

.party-link {
  background-image: url("../img/cake-icon.svg");
  background-repeat: no-repeat;
  background-position: 73px 48px;
}

.beauty-link {
  background-image: url("../img/bag-icon.svg");
  background-repeat: no-repeat;
  background-position: 70px 48px;
}

.course-link {
  background-image: url("../img/notebook-icon.svg");
  background-repeat: no-repeat;
  background-position: 70px 48px;
}

.service-info {
  display: flex;
}

.info-image {
  box-shadow: 10px 10px #e8be7b;
}

.info-section {
  padding: 78px 0 15px 70px;

}

.info-section-caption {
  box-sizing: border-box;
  width: 340px;
  margin: 0 0 13px;

  font-family: "Butler", "Times New Roman", serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-transform: capitalize;
}

.info-section-text {
  margin: 0 0 30px;
  line-height: 26px;
}

.info-section-link {
  position: relative;
  font-size: 18px;
  color: #d6a862;
  text-transform: uppercase;
}

.info-section-link:hover {
  border-bottom: 1px solid #d6a862;
}

.info-section-link::after {
  content: "";

  position: absolute;
  top: 7px;
  left: 135px;
  width: 33px;
  height: 10px;
  background-image: url("../img/right-pointer.svg");
  background-repeat: no-repeat;
}

.gallery {
  position: relative;
  box-sizing: border-box;
  width: 1600px;
  height: 800px;

  /* padding: 600px 315px 60px; */
  background-image: url("../img/gallery-image-1.jpg");
  background-repeat: no-repeat;
}

.gallery-info {
  position: absolute;
  top: 600px;
  left: 315px;

  display: flex;
  box-sizing: border-box;
  width: 971px;
  padding: 30px 0 30px 57px;

  color: #3a3a3a;

  background-color: #ffffff;
}

.gallery-info-date {
  margin: 0;
  box-sizing: border-box;
  width: 153px;

  font-family: "Butler", "Times New Roman", serif;
  font-size: 32px;
  line-height: 34px;
  text-align: center;

  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-size: 17%;
  background-position: 50% 49px;
}

.gallery-info-description {
  box-sizing: border-box;
  width: 690px;
  margin: 0;
  padding: 0 0 2px 30px;

  line-height: 26px;

  border-left: 1px solid #000000;
}

.gallery-button {
  position: absolute;
  top: 57px;

  box-sizing: border-box;
  width: 40px;
  height: 30px;
  padding: 0;

  border: 1px solid rgba(255, 255, 255, 0);
  /* border-radius: 50%; */
  background-color: transparent;
  background-image: url("../img/gallery-button.png");
  background-repeat: no-repeat;
  background-position: 1px 50%;

  cursor: pointer;
}

.gallery-button:hover {
  /* border: 1px solid #ffffff; */
}

.gallery-button:active {
  /* border-color: #d6a862;
  background-color: #d6a862; */
}

.back-button {
  left: -99px;

  transform: rotate(180deg);
}

.next-button {
  right: -99px;
}

.channel {
  padding: 114px 480px 119px;

  color: #2a2a2a;
}

.channel-caption {
  margin: 0 0 19px;

  font-family: "Butler", "Times New Roman", serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
  letter-spacing: 1.4px;

}

.channel-description {
  margin: 0 0 57px;

  text-align: center;
}

.channel-video {
  position: relative;
}

.channel-video-image {
  box-sizing: border-box;
  width: 640px;
  height: 360px;
  margin: 0 0 40px;
  overflow: hidden;
}

.channel-video-image img {
  display: block;
  max-width: 793px;
  height: auto;
  margin: -59px 0 0 -3px;
}

.channel-video-button {
  position: absolute;
  top: 140px;
  left: 280px;

  padding: 0;

  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.channel-video-button img {
  display: block;
}

.channel-video-link {
  display: block;
  box-sizing: border-box;
  width: 170px;
  margin: auto;
  padding: 15px 0 15px;

  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #e8be7b;
}

.blog {
  padding: 115px 215px 119px;

  color: #3a3a3a;

  background-color: #f7f7f7;
}

.blog-caption {
  margin: 0 0 19px;
  padding: 0 0 0 18px;

  font-family: "Butler", "times New Roman", serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 1.2px;
  word-spacing: 3px;
  text-align: center;
  text-transform: capitalize;

}

.blog-navigation {
  display: flex;
  justify-content: center;
  margin: 0 0 67px;
  padding: 0;

  list-style: none;
}

.blog-navigation li:not(:last-child) {
  margin-right: 44px;
}

.blog-navigation-link {
  color: inherit;
}

.blog-navigation-link:hover {
  border-bottom: 1px solid #3a3a3a;
}

.blog-navigation-link:active {
  color: #e8be7b;
  border-color: #e8be7b;
}

.current-link {
  color: #e8be7b;
}

.current-link:hover {
  border-color: #e8be7b;
}

.posts-list {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.highlight-post {
  width: 770px;
  margin-right: 30px;
}

.posts-list li {
  margin-bottom: 26px;
}

.posts-list li:not(:first-child) {
  width: 370px;
}

.posts-list li:not(:first-child):not(:nth-child(2)):not(:nth-child(n+5)) {
  margin-right: 30px;
}

.post-image {
  margin: 0 0 21px;;
}

.post-image img {
  display: block;
}

.posts-list li:nth-child(2) .post-image {
  box-shadow: 10px 10px #e8be7b;
}

.post-link {
  display: block;
  width: 363px;
  margin-bottom: 10px;

  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-transform: capitalize;
  color: #525252;
}

.post-link:hover {
  text-decoration: underline;
}

.highlight-post .post-link {
  width: 490px;
}

.post-signature {
  margin: 0;

  font-family: "Butler", "Times New Roman", serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  color: #757575;
}

@font-face {
  font-family: "Butler";
  src: url("butler_light.eot");
  src: url("butler_light.eot?#iefix") format("embedded-opentype"),
       url("butler_light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Butler";
  src: url("butler_regular.eot");
  src: url("butler_regular.eot?#iefix") format("embedded-opentype"),
       url("butler_regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Butler";
  src: url("butler_medium.eot");
  src: url("butler_medium.eot?#iefix") format("embedded-opentype"),
       url("butler_medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
