html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
   -webkit-box-sizing: inherit;
           box-sizing: inherit;
}

body {
  width: 1600px;
  margin: auto;
  padding: 0;

  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #3a3a3a;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  position: relative;

  color: #ffffff;

  background-color: #403e2c;
  background-image: url("../img/header-background.jpg");
  background-repeat: no-repeat;
  background-position: 0 -901px;
  background-size: 100%;
}

.main-header::after {
  content: "";

  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;

  display: block;
  width: 100%;
  height: 100%;

  background-color: rgba(80, 80, 80, 0.1);
}

.header-top-bar {
  position: relative;
  z-index: 20;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 214px 17px;

  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.top-bar-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-bar-number {
  position: relative;

  margin: 0 31px 0 0;
  padding-left: 20px;

  letter-spacing: 0.3px;
}

.top-bar-number::before {
  content: "";

  position: absolute;
  top: 2px;
  left: 0px;

  width: 12px;
  height:12px;

  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;

  -webkit-transform: scale(-1, 1);

      -ms-transform: scale(-1, 1);

          transform: scale(-1, 1);
}

.top-bar-adress {
  position: relative;

  margin: 0;
  padding-left: 16px;

  letter-spacing: 0.4px;
}

.top-bar-adress::before {
  content: "";

  position: absolute;
  top: 2px;
  left: 0px;

  width: 9px;
  height:13px;

  background-image: url("../img/map-marker.svg");
  background-repeat: no-repeat;
}

.top-bar-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0;
  padding: 3px 0 0;

  list-style: none;
}

.social-list-item:not(:last-child) {
  margin-right: 25px;
}

.header-social-link {
  display: block;
}

.header-social-link:hover .social-icon,
.header-social-link:focus .social-icon {
  fill: #e8be7b;
}

.header-social-link:focus {
  outline-color: #e8be7b;
}

.header-navigation-wrapper {
  position: relative;
  z-index: 20;

  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 215px 0;
}

.main-logo {
  margin: 0;
  padding-top: 30px;
}

.main-logo img {
  display: block;
}

.navigation-list,
.footer-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation-list li:not(:last-child) {
  margin-right: 31px;
}

.navigation-list li {
  margin-top: -1px;
  padding-top: 45px;

  letter-spacing: 0.1px;
}

.navigation-link,
.footer-navigation-link {
  position: relative;

  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.navigation-link:hover::before,
.navigation-link:focus::before {
  content: "";

  position: absolute;
  top: -46px;

  width: 100%;
  height: 2px;

  background-color: #d6a862;
}

.navigation-link:focus {
  outline-color: #e8be7b;
}

.navigation-link:active {
  color: #e8be7b;
}

.header-about {
  position: relative;
  z-index: 20;

  padding: 253px 0 260px;
}

.about-title {
  display: block;
  margin-bottom: 18px;

  font-family: "Butler", "Times New Roman", serif;
  font-size: 64px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: -0.5px;
  text-align: center;
  text-transform: capitalize;
}

.about-title span {
  color: #e8be7b;
}

.header-about p {
  margin: 0 0 47px;

  text-align: center;
  word-spacing: -0.5px;
}

.header-button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-button:not(:last-child) {
  margin-right: 30px;
}

.header-button {
  display: block;
  width: 180px;
  padding: 13px 0 15px;

  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;

  border: 1px solid #ffffff;
}

.header-button:hover,
.header-button:focus {
  background-color: #e8be7b;
  border-color: #e8be7b;
}

.header-about-button {
  text-align: center;
}

.header-video-button {
  position: relative;

  padding: 13px 0 15px 51px;
}

.header-video-button::before {
  content: "";

  position: absolute;
  top: 17px;
  left: 32px;

  width: 11px;
  height: 12px;

  background-image: url("../img/play.svg");
  background-repeat: no-repeat;
}

.slider {
  position: absolute;
  top: 449px;
  right: 30px;
  z-index: 20;

  width: 10px;
}

.slider-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.slider-radio-label:not(:last-child) {
  margin-bottom: 15px;
}

.slider-radio-label {
  position: relative;

  cursor: pointer;
}

.slider-radio + .radio-indicator {
  display: block;
  width: 6px;
  height: 6px;

  background-color: #ffffff;
}

.slider-radio:focus + .radio-indicator {
  outline: 1px dotted #e8be7b;
}

.slider-radio:checked + .radio-indicator {
  width: 10px;
  height: 10px;
  margin: -2px 0;

  background-color: #e8be7b;
}

.slider-radio:not(:checked):hover + .radio-indicator {
  width: 8px;
  height: 8px;
  margin: -1px 0 -1px;
}

.service {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 112px 213px 120px 215px;

  color: #3a3a3a;

  background-image: -webkit-linear-gradient(293deg, #fbfcf5 56.5%, #ffffff 56.5%, #ffffff 100%);

  background-image: -o-linear-gradient(293deg, #fbfcf5 56.5%, #ffffff 56.5%, #ffffff 100%);

  background-image: linear-gradient(157deg, #fbfcf5 56.5%, #ffffff 56.5%, #ffffff 100%);
}

.service-text-wrapper {
  margin-bottom: 78px;
}

.service-caption {
  margin: 0 0 20px;

  font-family: "Butler", "Times New Roman", serif;
  font-size: 48px;
  font-weight:  500;
  line-height: 50px;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  word-spacing: 5px;
}

.service-description {
  margin: 0;

  text-align: center;
  letter-spacing: -0.03px;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 56px;
  padding: 0;

  list-style: none;
}

.services-list li:not(:nth-child(5n)) {
  margin-right: 54px;
}

.service-link {
  display: block;
  width: 180px;
  padding: 125px 0 30px;

  font-family: "Butler", "Times New Roman", serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  -webkit-transition: -webkit-box-shadow 100ms ease-in;
  transition: -webkit-box-shadow 100ms ease-in;
  -o-transition: box-shadow 100ms ease-in;
  transition: box-shadow 100ms ease-in;
  transition: box-shadow 100ms ease-in, -webkit-box-shadow 100ms ease-in;
}

.service-link:hover,
.service-link:focus {
  background-color: #ffffff;

  -webkit-box-shadow: 1.805px 2.396px 16px 0px rgba(32, 32, 32, 0.2);

          box-shadow: 1.805px 2.396px 16px 0px rgba(32, 32, 32, 0.2);
}

.about-link {
  background-image: url("../img/sheet-icon.svg");
  background-repeat: no-repeat;
  background-position: 74px 48px;
}

.wedding-link {
  background-image: url("../img/heart-icon.svg");
  background-repeat: no-repeat;
  background-position: 66px 47px;
}

.party-link {
  background-image: url("../img/cake-icon.svg");
  background-repeat: no-repeat;
  background-position: 73px 48px;
}

.beauty-link {
  background-image: url("../img/bag-icon.svg");
  background-repeat: no-repeat;
  background-position: 70px 48px;
}

.course-link {
  background-image: url("../img/notebook-icon.svg");
  background-repeat: no-repeat;
  background-position: 70px 48px;
}

.service-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-image {
  -webkit-box-shadow: 10px 10px #e8be7b;
          box-shadow: 10px 10px #e8be7b;
}

.info-image img {
  display: block;
}

.info-section {
  padding: 78px 0 15px 70px;

}

.info-section-caption {
  width: 340px;
  margin: 0 0 13px;

  font-family: "Butler", "Times New Roman", serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-transform: capitalize;
}

.info-section-text {
  margin: 0 0 30px;

  line-height: 26px;
}

.info-section-link {
  position: relative;

  font-size: 18px;
  text-transform: uppercase;
  color: #d6a862;
}

.info-section-link:hover {
  border-bottom: 1px solid #d6a862;
}

.info-section-link::after {
  content: "";

  position: absolute;
  top: 7px;
  left: 135px;

  width: 33px;
  height: 10px;

  background-image: url("../img/right-pointer.svg");
  background-repeat: no-repeat;
}

.info-section-link:hover::after {
  -webkit-animation-name: move-arrow;
          animation-name: move-arrow;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.gallery {
  position: relative;

  width: 1600px;
  height: 800px;

  background-color: ;
  background-image: url("../img/gallery-image-1.jpg");
  background-repeat: no-repeat;
}

.gallery-info {
  position: absolute;
  top: 600px;
  left: 315px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  width: 971px;
  padding: 30px 0 30px 57px;

  color: #3a3a3a;

  background-color: #ffffff;
}

.gallery-info-date {
  width: 153px;
  margin: 0;

  font-family: "Butler", "Times New Roman", serif;
  font-size: 32px;
  line-height: 34px;
  text-align: center;

  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: 51% 49px;
}

.gallery-info-description {
  width: 690px;
  margin: 0;
  padding: 0 0 2px 30px;

  line-height: 26px;

  border-left: 1px solid #000000;
}

.gallery-button {
  position: absolute;
  top: 57px;

  width: 40px;
  height: 30px;
  padding: 0;

  border: 1px solid rgba(255, 255, 255, 0);
  background-color: transparent;
  background-image: url("../img/gallery-button.png");
  background-repeat: no-repeat;
  background-position: 1px 50%;

  cursor: pointer;
}

.back-button {
  left: -99px;

  -webkit-transform: rotate(180deg);

      -ms-transform: rotate(180deg);

          transform: rotate(180deg);
}

.next-button {
  right: -99px;
}

.gallery-button:hover,
.gallery-button:focus {
  background-image: url("../img/gallery-button-hover.png");
}

.gallery-button:focus {
  outline-color: #e8be7b;
}

.channel {
  padding: 114px 480px 119px;

  color: #2a2a2a;
}

.channel-caption {
  margin: 0 0 19px;

  font-family: "Butler", "Times New Roman", serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
  letter-spacing: 1.4px;
}

.channel-description {
  margin: 0 0 57px;
  padding-left: 5px;

  text-align: center;
}

.channel-video {
  position: relative;
}

.channel-video-image {
  width: 640px;
  height: 360px;
  margin: 0 0 40px;

  overflow: hidden;
}

.channel-video-image img {
  display: block;
}

.channel-video-button {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 80px;
  height: 80px;
  padding: 0;

  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;

  -webkit-transform: translate(-50%, -50%);

      -ms-transform: translate(-50%, -50%);

          transform: translate(-50%, -50%);
}

.channel-video-button img {
  position: relative;
}

.channel-video-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.channel-video-button:focus {
  outline-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

.channel-video-button:active {
  background-color: rgba(232, 190, 123, 1);
}

.channel-video-button img {
  display: block;
}

.channel-video-link {
  display: block;
  width: 170px;
  margin: auto;
  padding: 15px 0 15px;

  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #3a3a3a;

  border: 1px solid #3a3a3a;
}

.channel-video-link:hover,
.channel-video-link:focus {
  color: #ffffff;

  background-color: #e8be7b;
  border-color: transparent;
}

.blog {
  padding: 113px 215px 119px;

  color: #3a3a3a;

  background-color: #f7f7f7;
}

.blog-caption {
  margin: 0 0 19px;
  padding: 0 0 0 18px;

  font-family: "Butler", "times New Roman", serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 1.2px;
  word-spacing: 3px;
  text-align: center;
  text-transform: capitalize;
}

.blog-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 67px;
  padding: 0;

  list-style: none;
}

.blog-navigation li:not(:last-child) {
  margin-right: 44px;
}

.blog-navigation-link {
  color: inherit;
}

.blog-navigation-link:hover,
.blog-navigation-link:focus {
  text-decoration: underline;
}

.blog-navigation-link:active {
  color: #e8be7b;
}

.current-link {
  color: #e8be7b;
}

.posts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 41px;
  padding: 0;

  list-style: none;
}

.highlight-post {
  position: relative;
  width: 770px;
}

.highlight-signature {
  position: absolute;
  top: 84px;
  left: -88px;

  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  color: #525252;

  -webkit-transform: rotate(270deg);

      -ms-transform: rotate(270deg);

          transform: rotate(270deg);
}

.highlight-signature::before {
  content: "";

  position: absolute;
  top: 13px;
  left: -65px;

  width: 50px;
  height: 1px;

  background-color: #525252;
}

.posts-list li {
  margin-bottom: 26px;
}

.posts-list li:not(:first-child) {
  width: 370px;
}

.posts-list li:not(:nth-child(3n-1)) {
  margin-right: 30px;
}

.post-image {
  margin: 0 0 22px;;
}

.post-image img {
  display: block;
}

.posts-list li:nth-child(2) .post-image {
  -webkit-box-shadow: 10px 10px #e8be7b;
          box-shadow: 10px 10px #e8be7b;
}

.post-link {
  display: block;
  width: 363px;
  margin-bottom: 9px;

  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-transform: capitalize;
  letter-spacing: -0.07px;
  color: #525252;
}

.post-link:hover,
.post-link:focus {
  text-decoration: underline;
}

.post-link:active {
  color: #e8be7b;
}

.highlight-post .post-link {
  width: 490px;
}

.post-signature {
  margin: 0;

  font-family: "Butler", "Times New Roman", serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 18px;
  letter-spacing: 0.25px;
  color: #757575;
}

.post-button {
  display: block;
  width: 170px;
  padding: 14px 0 16px 4px;
  margin: auto;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  color: #3a3a3a;

  border: 1px solid #3a3a3a;
}

.post-button:hover,
.post-button:focus {
  color: #ffffff;

  background-color: #e8be7b;
  border-color: #e8be7b;
}

.contacts {
  padding: 113px 215px 123px;
}

.contacts-caption {
  margin: 0 0 19px;

  font-family: "Butler", "Times New Roman", serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 1.2px;
  word-spacing: 3px;
  text-align: center;
  color: #2a2a2a;
}

.contacts-description {
  margin: 0 0 67px;

  font-weight: 400;
  text-align: center;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0 0 0 127px;

  list-style: none;

}

.contact:not(:nth-child(n+3)) {
  margin-right: 130px;
}

.contact {
  position: relative;

  min-width: 250px;
  padding: 6px 0 0 10px;
}

.contact::before {
  content: "";

  position: absolute;
  top: 0px;
  left: -81px;

  width: 62px;
  height: 60px;
}

.address::before {
  background-image: url("../img/address-icon.png");
  background-repeat: no-repeat;
}

.number::before {
  background-image: url("../img/number-icon.png");
  background-repeat: no-repeat;
  background-position: 24px 0;
}

.email::before {
  background-image: url("../img/email-icon.png");
  background-repeat: no-repeat;
  background-position: 0 7px;
}

.contact-caption {
  margin: 0 0 10px;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.contact-description {
  margin: 0;

  font-family: "Butler", "Times New Roman", serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 26px;
}

.address-description {
  text-transform: capitalize;
  letter-spacing: -0.25px;
}

.number-description {
  text-transform: uppercase;
}

.email-caption {
  margin-bottom: 7px;
}

.main-footer {
  position: relative;

  padding: 65px 215px 69px;

  background-color: #3a3a3a;
}

.footer-navigation {
  margin-bottom: 66px;
}

.footer-navigation-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 28px;
}

.footer-navigation-list li:not(:last-child) {
  margin-right: 32px;
}

.footer-navigation-link:hover,
.footer-navigation-link:focus {
  text-decoration: underline;
}

.footer-logo {
  width: 180px;
  margin: 0 auto 17px;
}

.footer-logo img {
  display: block;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-list li:not(:last-child) {
  position: relative;
  margin-right: 19px;
}

.social-list li:not(:last-child)::after {
  content: "/";

  position: absolute;
  top: 0;
  right: -14px;

  color: #ffffff;
}

.footer-social-link {
  color: #ffffff;
}

.footer-social-link:hover,
.footer-social-link:focus {
  color: #e8be7b;
}

.inst-link {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(92%, transparent), color-stop(92%, rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: -webkit-linear-gradient(top, transparent 92%, rgba(255, 255, 255, 0.7) 92%, rgba(255, 255, 255, 0.7) 100%);
  background-image: -o-linear-gradient(top, transparent 92%, rgba(255, 255, 255, 0.7) 92%, rgba(255, 255, 255, 0.7) 100%);
  background-image: linear-gradient(to bottom, transparent 92%, rgba(255, 255, 255, 0.7) 92%, rgba(255, 255, 255, 0.7) 100%);
  background-position: 0 0px;
  background-repeat: repeat-x;
}

.inst-link:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(92%, transparent), color-stop(92%, rgba(214, 168, 98, 0.7)), to(rgba(214, 168, 98, 0.7)));
  background-image: -webkit-linear-gradient(top, transparent 92%, rgba(214, 168, 98, 0.7) 92%, rgba(214, 168, 98, 0.7) 100%);
  background-image: -o-linear-gradient(top, transparent 92%, rgba(214, 168, 98, 0.7) 92%, rgba(214, 168, 98, 0.7) 100%);
  background-image: linear-gradient(to bottom, transparent 92%, rgba(214, 168, 98, 0.7) 92%, rgba(214, 168, 98, 0.7) 100%);
}

.footer-return-button {
  position: absolute;
  top: 230px;
  right: 217px;

  display: block;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.footer-return-button::after {
  content: "";

  position: absolute;
  top: 0;
  right: -17px;

  width: 5px;
  height: 17px;

  background-image: url("../img/up-arrow-icon.svg");
  background-repeat: no-repeat;
}

.footer-return-button:hover {
  text-decoration: underline;
}

@font-face {
  font-family: "Butler";
  src: url("butler_ultra_light.eot");
  src: url("butler_ultra_light.eot?#iefix") format("embedded-opentype"),
       url("butler_ultra_light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Butler";
  src: url("butler_light.eot");
  src: url("butler_light.eot?#iefix") format("embedded-opentype"),
       url("butler_light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Butler";
  src: url("butler_regular.eot");
  src: url("butler_regular.eot?#iefix") format("embedded-opentype"),
       url("butler_regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Butler";
  src: url("butler_medium.eot");
  src: url("butler_medium.eot?#iefix") format("embedded-opentype"),
       url("butler_medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@-webkit-keyframes move-arrow {
  from {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  50% {
    -webkit-transform: translate(10px);
            transform: translate(10px);
  }
  to {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@keyframes move-arrow {
  from {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  50% {
    -webkit-transform: translate(10px);
            transform: translate(10px);
  }
  to {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}
